footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px 35px;
  #check {
    display: none;
  }
  input + label:before {
    display: inline-flex;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border: 1px solid #0dbdbd;
    border-radius: 3px;
    margin-right: 5px;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 2px #767676);
  }
  input:checked + label:before {
    background-color: #0dbdbd;
    content: "\2713";
    color: #ffffff;
    align-items: center;
    justify-content: center;
  }
  label {
    font-family: "Nunito";
    font-size: 14px;
    text-align: left;
    margin-top: 0.93em;
    color: black;
    filter: drop-shadow(2px 2px 2px #767676);
  }
  .footerGroup1,
  .footerGroup2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 8px 35px;
  }
  #submit {
    width: 80px;
    height: 40px;
    background: #0dbdbd;
    border-radius: 10px;
    border: none;
    font-family: "Nunito";
    font-size: 1em;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      background-color: #087a7a;
    }
  }
}
